body {
    background-color: lightgray;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    text-align: center;
}
h2{
    padding: 4px;
    margin: 4px;
}

.reflectComplete{
    background-color: green;
    color:white;

}
.reflectIncomplete{
    background-color: red;
    color:white;
}

h1{
    width: 50%;
    font-size: 4vw;
    text-align: center;
    margin: auto;
}
#headOne{
    color:white;
    background-color: black;;
}
#headTwo{
    color:white;
    background-color: black;;
}

tbody tr:nth-child(even) {
    background-color: aliceblue;
}
tbody tr:nth-child(odd) {
    background-color: palegoldenrod;
}

::placeholder, select, input, button {
    font-family: 'Poppins', sans-serif;
}

table {
    text-align: center;
    width: 80%;
    margin: 10px auto;
    border-collapse: collapse;
}
td, th{
    border:1px solid black;

}
.invisible{
    display: none;
}

.complete{
    background-color: green;
}
.incomplete{
    background-color:red;
}

#undoneTable caption {
    background-color: red;
    color: white;
}
#doneTable caption {
    background-color: green;
    color: white;
}


.deleteButton:hover{
    background-color:red;
    color: white
}
.incomplete:hover{
    background-color:red;
    color: white
}
.deleteButton, .incomplete{
    background-color:white;
    color: red;
    border-radius: none;
    border: none;
    font-weight: bold;
}

#toggleSection{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    margin: auto;
}

#submitButton:hover{
    background-color:goldenrod;
    color: white
}
#sortSubmit:hover{
    background-color:goldenrod;
    color: white
}

#submitButton, #sortSubmit{
    background-color:white;
    color: goldenrod;
    border-radius: none;
    border: none;
    font-weight: bold;
}
.completeButton:hover{
    background-color: green;
    color: white
}
.complete:hover{
    background-color: green;
    color: white
}
.completeButton, .complete{
    background-color:white;
    color: green;
    border-radius: none;
    border: none;
    font-weight: bold;
}

button:focus{
    border: none;
    outline: none;
}

section {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5px auto 20px auto;
    padding: 20px;
}

input, select, #submitButton{
    margin: 4px;
}
